<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Student Information</h1>
    <table border="0">
        <tr>
            <td>Studnet Name</td>
            <td>{{student.name}}</td>
        </tr>
        <tr>
            <td>Studnet Age</td>
            <td>{{student.age}}</td>
        </tr>
        <tr>
            <td> Studnet Class</td>
            <td>{{student.cl}}</td>
        </tr>

    </table>
</body>

</html>